<div class="other-posts">
    <h2>Git Collection</h2>
</div>

<hr />

<div class="row-blog">
    <div class="column-blog-tech">
        <div class="card-tech">
            <a href="/vb-linux.html">
                <img class="card-image-tech" src="/images/octocat-1.jpeg" alt="Git image" >
            </a>
            <div class="container-blog">
                <a href="/vb-linux.html">
                    <h4><b>Git Installation w/ Overview</b></h4>
                </a>
                    <p>By the end of this post you will understand Git/Github and have the software
                    installed...</p>
            </div>
        </div>
    </div>

    <div class="column-blog-tech">
        <div class="card-tech">
        
            <a href="/hbo-mmc">
                <img class="card-image-tech" src="/images/octocat-2.jpeg" alt="Git branch" >
            </a>
            <div class="container-blog">
                <a href="/hbo-mmc">
                    <h4><b>Getting Started w/ Git</b></h4>
                </a>
                    <p>Here you will clone a remote repository and begin pushing commits and creating branches...</p>
            </div>
        </div>
    </div>

    <div class="column-blog-tech">
        <div class="card-tech">
            <a href="/gitlab.html">
                <img class="card-image-tech" src="/images/octocat-chalk.jpeg" alt="Octocat" >
            </a>
            <div class="container-blog">
                <a href="/gitlab.html">
                    <h4><b>Advanced Git Commands</b></h4>
                </a>
                    <p>Global Settings <code>rebasing</code> and more...</p>
            </div>
        </div>
    </div>
</div>
      
