<!-- Navigation -->
<div class="header-intro">
    <div class="topnavlinks">
            
            <a href="index.html"><img class="navlogo" alt="ab logo" src="images/favicon.ico"></a>
            <!-- Navigation
            <a class="introlink" alt="Bloglink" href="/new.html">Blog</a>
            -->
            <a class="introlink" alt="Portfolio link" href="/home.html">Portfolio</a>
            <a class="introlink" alt="style guide link" href="/style_intro.html">Style Guide</a>
        </div>
          
</div>
