<!-- Navigation -->
<div class="header-intro-2">
    <div class="topnavlinks">
            
            <a href="index.html"><img class="navlogo" alt="ab logo" src="images/favicon.ico"></a>
           
            
            <a class="introlink" alt="style guide link" href="/style_intro.html">Style Guide</a>
            <a class="introlink" alt="style guide link" href="/home.html">Portfolio</a>
            <!--
            <a class="introlink" alt="style guide link" href="/blog.html">Blog</a>
            -->
        </div>
            
</div>
