<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container topnavlinks">
        <!-- Commenting hamburger button out
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            -->
            
            <a href="index.html"><img class="navlogo" alt="ab logo" src="images/favicon.ico"></a>
            
            <a class="headerlinks" alt="Resume link" href="/resume.html">Resume</a>
            <a class="headerlinks" alt="Resume link" href="/style_intro.html">Style Guide</a>
            <a class="headerlinks" alt="ab Index link" href="index.html">Portfolio</a>
        </div>
            
</nav>
