<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {% include head.html %}
</head>
<body class="body-2">
<header>
    {% include header.html %}
</header>
<div id="mainContent">

	<div class="content-block no-image with-overflow">
        
    </div>
    
	<div class="content-block post-view">
    
		<div class="content-wrapper">
        <div class="caption-blog">
        <h1>Welcome to The Pulse</h1>
        </div>
			<article class="post">
				<div class="post-text">
                <div class="row-blog">
                <div class="column-blog">
                <div class="card">
                    <a href="/new">
                    <img class="card-image" src="/images/civil-2020.jpg" alt="Avatar" >
                    </a>
                <div class="container-blog">
                    <a href="/new">
                    <h4><b>Civil Disobedience in 2020</b></h4>
                    </a>
                    <p>In 1849, Henry David Thoreau wrote an essay on civil disobedience and why it is necessary. 171 years later,
                     Thoreau's message is as important as ever...</p>
                </div>
                </div>
                </div>

                <div class="column-blog">
                <div class="card">
                    <a href="/new-2">
                    <img class="card-image" src="/images/meditations.jpg" alt="Avatar" >
                    </a>
                <div class="container-blog">
                    <a href="/new-2">
                    <h4><b>Meditations on Workplace Culture</b></h4>
                    </a>
                    <p>Ideologies on professionalism in the workplace has fluctuated over the years, this time we should get it right...</p>
                </div>
                </div>
                </div>
                </div>

        
                <div class="shadow"></div>
                </div>
					
				</div>
                
</div>

<div class="spacer-transparent"></div> 


</div>
<footer>
{% include footer-blog-post.html %}
</footer>
</body>

{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}

</html>

