<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {% include head.html %}
</head>
<header>
    {% include header.html %}
</header>
<div class="caption-home">
    <h1>I'm Ashton Brown, an adaptable Technical Writer/ Documentation Engineer who nerds out on new tech, enjoys good
    documentation, and is in love with the Oxford comma. Welcome to my portfolio.</h1>
    <hr />
    <p>Use the navbar links to get started.</p>
</div>
<body class="body-intro"> 
    
  </body>    
<footer>
{% include footer-intro.html %}
</footer>


</html>


