<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {% include head.html %}
</head>
<header>
    {% include header-2.html %}
</header>

    <body>
        <div class="new-wrapper">
            <div class="new">
                <h1>Hello, World!</h1>
                    <p>
                        I'm Ashton Brown, an adaptable Technical Writer/ Documentation Engineer who nerds out on new tech, enjoys good
                        documentation, and is in love with the Oxford comma. Welcome to my portfolio.
                </p>             
            </div>
        </div>
        <div class=new-image>
            <div class="test">
                <div class="bluee">
                    {% include image.html file="grey-2.svg" alt="Memoji in grey shirt" %}
                </div>
                <div class="column">
                    {% include image.html file="red.svg" alt="Memoji in red shirt" %}
                </div>
                <div class="bluee">
                    {% include image.html file="white-3.svg" alt="Memoji in white shirt" %}
                </div>
            </div>
       </div>
       <footer>
{% include footer-blog-post.html %}
</footer>
    </body>

</html>


